p,a{
  font-family: Segoe UI;
  margin: 0;
}

.super-parent-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.parent1-div{
  width: 45%;
  height: 200px;
  margin-top: 15px;
}

.div-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0;
  font-family: Segoe UI;
  margin-bottom: 20px;
}

.home {
  flex: 1;
  font-weight: 500;
  margin-left: 5px;
  font-size: 25px;
}

.b14 {
  width: 100px;
} 

.botton {
  width: 60px;
  height: 40px;
  background-color: rgb(9, 114, 226);
  color: white;
  font-size: 25px;
  border-radius: 25px;
  border: none;
}

.parent2-div{
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.p1,.p2,.p3{
  width: 100%;
  height: 33%;
}

.p1{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.profile-div{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actual-pic{
  width:90px;
  height: 90px;
  border-radius: 50%;
  border: solid;
  border-color: rgb(0, 131, 243);
  border-width: 3px;
  object-fit: cover;
}

.name{
  font-weight: 700;
  margin-bottom: 5px;
}
.status, .popular{
  color: rgb(96, 96, 96);
  margin-bottom: 5px;
}

.name-stat-div{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-div{
  flex: 1;
  display: flex;
  align-items:center;
  justify-content: end;
}

.follow{
  background-color: rgb(0, 131, 243);
  padding: 10px 18px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  margin-right: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.follow:hover{
  opacity: 0.7;
}

.parent3-div{
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: rgb(155, 60, 244);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px; 
}

.home-div{
  width: 300px;
  display: flex;
  align-items: center;
}

.hom{
  color: white;
  text-align: start;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  margin-left: 10px;
}

.search-div{
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search{
  flex: 1;
  max-width: 600px;
  min-width: 300px;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
}

.dow-div{
  width: 300px;
  display: flex;
  justify-content:end;
  align-items: center;
}

.dow{
  border: solid;
  border-color: white;
  background-color: transparent;
  padding: 10px 20px;
  margin-right: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dow:hover{
  background-color: rgba(9, 239, 101, 0.5);
}